# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.sqlite

# Virtual Environment
venv/
.venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
